#schoenberg {
	background-image: url('../projects-small.jpg');
	background-color: #212121;
	background-position: 40% 20%;
}

@media all and (min-width:641px) {
	#schoenberg {
		background-image: url('../projects.jpg');
	}
