#default-pic {
	background-image: url('/static/img/placeholder-small.jpg');
	background-color: #212121;
	background-position: 50% 30%;
}

@media all and (min-width:641px) {
	#default-pic {
		background-image: url('/static/img/placeholder.jpg');
	}
}
