.post-entry {
	background-color: rgba(240,238,237,0.97);
	background-blend-mode: overlay;
	border: 1px dashed #e0e0e0;
	padding: 15px 0px;
    height: 280px;
	text-overflow: ellipsis;
	transition-duration: 0.25s;
}

.post-entry:hover {
	background-color: rgba(240,238,237,0.80);
}

@media all and (min-width:536px) {
    .post-entry {
        height: 200px;
    	margin: 0px 10px 20px 10px;
    }
}

.post-entry-text {
    display: inline-block;
    height: 85%;
    position: absolute;
    left: 0px;
	overflow: hidden;
}

.post-entry-text .text {
	font-size: 16pt;
	margin-top: auto;
	margin-bottom: auto;
}

/*
@media all and (min-width:536px) {
    .post-img {
        display: inline-block;
    }
}
*/

.post-title {
	color: #990100;
    margin-bottom: 0px;
    text-decoration: none;
	padding: 0;
}

.post-title:hover {
    color: #990100;
    text-decoration: underline;
}

.post-title h3 {
	font-size: 22pt;
	font-variant: normal;
}

@media all and (min-width: 993px) {
	.post-title h3 {
		font-size: 26pt;
	}

	.post-entry-text .text {
		font-size: 18pt;
	}
}
