.dropdown-menu * {
    font-size: 14pt;
    text-decoration: none;
}

.dropdown-menu li:hover {
    background-color: #e0e0e0;
}

.dropdown-menu {
    height: auto;
    max-height: 120px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.page-turn {
    margin-top: 10px;
    max-width: 40%;
    overflow-x: hidden;
}

.page-turn h3 {
    line-height: 1.5;
    text-decoration: underline;
    font-variant: normal;
}

.post-title {
    margin-top: 50px;
}

.profile-img {
    display: inline-block;
    margin: 0 15px;
}

.right-link {
    margin-left: 30px;
}

@media all and (min-width:450px) {
    .right-link {
        float: right;
    }
}

.sidebar {
	margin-top: 50px;
	margin-bottom: 50px;
    border-left: 1px solid #e0e0e0;
    padding-left: 30px;
}

#dropdowngrp-month {
    display: none;
}

#searchbar {
	width: 100%;
}

@media all and (min-width: 993px) {
	.sidebar {
		margin-top: 180px;
	}
}
