input {
    margin: 15px auto;
    width: 100%;
}

.btn {
    font-size: 18pt;
    margin:5px 7%;
    width: 35%;
    min-width: 150px;
}

.main-text-input {
    width: 100%;
    height: 300px;
}

.tag_fixed {
    margin-right: 10px;
}

.tag_fixed:hover {
    text-decoration: line-through;
}

#tag_input {
    width: 60px;
}
