.header-container {
	height: 320px;
	padding-top: 20vh;
}

.header-container h1 {
	font-size: 70px;
}

.header-container h3 {
	margin: 30px auto 20px auto;
	font-size: 32px;
}

@media all and (min-width:540px) {
.header-container {
	padding-top: 120px;
	background-position: 10% 10%;
}

.header-container h1 {
	font-size: 84px;
}

#about-me-pic {
	background-image: url('/static/img/about_me-small.jpg');
	background-color: #212121;
	background-position: 40% 55%;
}

#projects-pic {
	background-image: url('/static/img/projects-small.jpg');
	background-color: #212121;
	background-position: 40% 20%;
}

@media all and (min-width:641px) {
	#about-me-pic {
		background-image: url('/static/img/about_me.jpg');
	}

	#projects-pic {
		background-image: url('/static/img/projects.jpg');
	}
}

#soundcloud {
	height: auto;
}
