.project-tile {
	height: 360px;
	overflow: hidden;
	background-color: #fafafa;
	padding: 35px 15px !important;
}

.project-tile * {
	overflow: hidden;
}

.project-tile div {
	padding: unset;
}

.project-pic {
	height: 100%;
	width: 100%;
	padding: inherit;
}

.project-pic img {
	height: auto;
	width: auto;
}

.project-title {
	background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.2));
	position: absolute;
	top: 35px;
	height: calc(100% - 70px);
	width: calc(100% - 30px);
	transition: 0.5s;
}

.project-title:hover {
	opacity: 0.7;
}

.project-title ~ h3 {
	color: #fafafa;
	position: absolute;
	left: 7%;
	bottom: 20%;
}
