* {
	font-family: 'Crimson Text', serif;
}

a {
	text-decoration: underline;
	color: #212121;
}

a:hover {
	color: #fafafa;
	background-color: #424242;
}

body {
	background-color: #212121;
	font-size: 18pt;
}


h1 {
	 text-align: center;
}

h1,
h2,
h3 {
	font-variant: small-caps;
	margin-top: 5px;
}

h2 {
	font-size: 150%;
}

hr{
	color: rgba(0,0,0,0.12);
	height: 1pt;
	width: 60%;
}

p {
	text-align: left;
	font-size: 18pt;
}

@media all and (min-width:641px) {
	p {
		font-size: medium;
	}
}

.banner {
	height: 192px;
	margin: 50px 15px;
}

@media all and (min-height:480px) {
.banner {
	height: 40vh;
}
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.container {
	background-color: #fafafa;
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
}

.header-container {
	z-index: 1000;
	height: 150px;
	padding-top: 24px;
	background: url('/static/img/header.jpg');
	background-color: #212121;
	background-position: 17% 25%;
	border-bottom: solid 5px #000000;
}

.header-container h1 {
	font-size: 48px;
}


.header-title {
	text-align: center;
}

.header-title a {
	text-decoration: none;
}

.header-title a:hover {
	color: #212121;
	text-decoration: underline;
	background: none;
}

@media all and (min-width:641px) {
.header-container {
	padding-top: 40px;
	background-position: 10% 10%;
}

.header-container h1 {
	font-size: 56px;
}

.header-container h3 {
	font-size: 30px;
}
}

.inactive {
	display: none !important;
}

.inline {
  display: inline-block;
}

.main-text * {
	font-family: 'Raleway', sans-serif;
	line-height: 2;
	font-size: 18pt;
}

.maincontent{
	display: block;
	box-sizing: border-box;
	border-top: 1px solid #e0e0e0;
	background-color: #fafafa;
	color: rgba(0,0,0,0.87);
	/*padding-top: 15px;*/
	padding-right: 0;
	padding-left: 0;
	/*padding-bottom: 15px;*/
	margin: 0 auto 20px auto;
	overflow: hidden;
}

.maincontent > div {
	padding-left: 5px;
	padding-right: 5px;
}

@media all and (min-width:641px){
	.maincontent > div {
		padding-left: 15px;
		padding-right: 15px;
	}
}

.nav-center {
	z-index: 1000;
	margin-left: auto;
	margin-right: auto;
	padding: 0 10px;
	background-color: #424242;
}

.nav-center a {
	color: #fafafa;
	text-decoration: none;
	font-size: 110%;
}

.nav-center a:hover {
	color: #fafafa;
	text-decoration: underline;
}

.nav-center td {
	margin-right: 1px;
	padding: 2px 8px;
	height: 38px;
	background-color: #212121;
	float:left;
}

.nav-center td:hover {
	background-color: #424242;
}

.nav-center td:first-child {
	margin-left: 1px;
}

.navbar-nav {
	z-index: 1000;
	height: 38px;
	margin: 0 auto;
	padding: 0;
	background-color: #212121;
    font-size: 20px;
	white-space: nowrap;
	position: relative;
	top: 0;
	box-shadow: 0 3px 1px rgba(0,0,0,0.33);
}

.navbutton {
	position: fixed;
	top: 0px;
	margin: 0 7vw;
	padding: 0px 10px;
	z-index: 999;
	background-color: #212121;
	color: #ffffff;
	font-size: 24px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom: solid 5px #212121;
	opacity: 0.33;
}

.navbutton a {
	color: #ffffff;
}

.navbutton a:hover {
	background-color: transparent;
}

.navbutton-checkbox {
	display: none;
}

.navbutton-checkbox:not(:checked) ~ div #navbar {
	position:fixed;
}

.navbutton-checkbox:not(:checked) ~ div .navbutton {
	top: 36px;
	opacity: 1;
}

@media all and (min-width:536px) {
.navbutton-checkbox:not(:checked) ~ div .navbutton {
	top: 0;
	z-index: 2000;
	border-bottom: none;
}
}

.navbutton:hover {
	opacity: 1;
}

.row {
	margin-left: 0;
	margin-right: 0;
	background-color: #fafafa;
}

.container .row:not(:first-child) .maincontent {
	padding-top: 15px;
}

.sub-text {
	color: #616161;
	font-family: 'Raleway', sans-serif;
	margin-top: 10px;
}

.text {
	font-family: 'Raleway', sans-serif;
}

.title {
  	text-align: left;
	padding: 50px 15px;
}

.title-link{
	margin-top: 5px;
	padding-left: 2px;
	padding-right: 2px;
	text-decoration: none;
	display: inline-block;
	border-bottom: solid 1pt #212121;
}

.title-link:hover{
	color: #fafafa;
	background-color: #424242;
}

#footer{
	background-color:#212121;
	clear: both;
	color: #ffffff;
	text-align: center;
	padding: 7px;
	box-shadow: 0 -3px 1px #999999;
	bottom: 0;
}
