html, body {
    min-width:1245px;
}
body.mode-slate {
    background-color: rgb(250, 250, 250)
}

#timetable-wrapper{
    font-size:11px;line-height:13px;width:1245px
}
#timetable{margin:0 0 15px -15px;max-width:none;table-layout:fixed;width:1235px}#timetable th{background-color:#fff}.mode-slate #timetable th{color:#fff}#times div{margin-right:-13px;text-align:right}#exam-timetable > table{font-weight: bold;border:1px solid #555;}#exam-timetable > table th{border:1px solid #555;background-color: #eee;}#exam-timetable > table td{border:1px solid #555; padding: 5px;}#exam-timetable > table td.total-module-credits{text-align: center;}#exam-timetable > table tr.clash{background-color: #eee; color:red !important}.day{border-bottom:1px solid #ddd;border-top:1px solid #ddd}.mode-slate .day th{border-bottom:1px solid rgb(250, 250, 250);border-top:1px solid rgb(250, 250, 250)}.day th div{line-height:15px;margin-right:-20px}.day td{height:34px;padding:1px 0 0}.m00{border-left:1px solid #ddd}.m30{border-right:1px solid #ddd}.lesson{border-bottom:3px solid;overflow:hidden;padding:5px}.lesson .code, .lesson .title{font-size:13px;font-weight:bold;}.color0{background-color:rgb(249, 173, 129)}.color0{background-color:rgb(249, 173, 129);border-color:}.color0{background-color:rgb(249, 173, 129);border-color:;color:rgb(117, 47, 6)}.color1{background-color:rgb(255, 247, 154)}.color1{background-color:rgb(255, 247, 154);border-color:}.color1{background-color:rgb(255, 247, 154);border-color:;color:rgb(154, 142, 0)}.color2{background-color:rgb(162, 211, 156)}.color2{background-color:rgb(162, 211, 156);border-color:}.color2{background-color:rgb(162, 211, 156);border-color:;color:rgb(39, 78, 34)}.color4{background-color:rgb(126, 167, 216)}.color4{background-color:rgb(126, 167, 216);border-color:}.color4{background-color:rgb(126, 167, 216);border-color:;color:rgb(20, 41, 67)}.color5{background-color:rgb(136, 130, 190)}.color5{background-color:rgb(136, 130, 190);border-color:}.color5{background-color:rgb(136, 130, 190);border-color:;color:rgb(24, 22, 43)}.color6{background-color:rgb(188, 141, 191)}.color6{background-color:rgb(188, 141, 191);border-color:}.color6{background-color:rgb(188, 141, 191);border-color:;color:rgb(48, 28, 49)}.color7{background-color:rgb(246, 152, 157)}.color7{background-color:rgb(246, 152, 157);border-color:}.color7{background-color:rgb(246, 152, 157);border-color:;color:rgb(132, 11, 18)}.hide-code .code,.hide-group .group,.hide-room .room,.hide-title .title,.hide-week .week{display:none}table{border-collapse:collapse;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif}</style>
